<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   
  <% @team_hash.each do |name, attr| %>
     <h2><%= "#{name}: #{attr}"%></h2>
  <% end %>

 </body>
</html>
